div#inner-menu
    div.container
        ul
            li: a(href=pathController) HOME PAGE
            li.active: a(href=pathController + '/' + lang.about.url) #{lang.about.title}
            li: a(href=pathController + '/' + lang.athletes.url) #{lang.athletes.title}
            li: a(href=pathController + '/' + lang.personal.url) #{lang.personal.title}
            li: a(href=pathController + '/' + lang.news.url) #{lang.news.title}
            li: a(href=pathController + '/' + lang.gallery.url) #{lang.gallery.title}
            li: a(href=pathController + '/' + lang.contact.url) #{lang.contact.title}