div#personal-container
    div#personal-list.context.wrap.box.row
        h1.page-title: span Who are We
        ul
            li.col-md-4
                    div.img: img(src="/assets/images/Profile-Pic.jpg")
                    h1.name: span MARTIN BENTLEY JOHNSON
                    h2.title: span SOFTWARE ENGINEER
                    div.link-buttons.oval: a(href=pathController +'/' + lang.personal.url + '/kerem-yavuz').link.reverse.v2 #{lang.aboutread}
            li.col-md-4
                    div.img: img(src="/assets/images/Profile-Pic.jpg")
                    h1.name: span MARTIN BENTLEY
                    h2.title: span SOFTWARE ENGINEER
                    div.link-buttons.oval: a(href=pathController +'/' + lang.personal.url + '/stewert').link.reverse.v2 #{lang.aboutread}
                    
            li.col-md-4
                    div.img: img(src="/assets/images/Profile-Pic.jpg")
                    h1.name: span MARTIN BENTLEY
                    h2.title: span SOFTWARE ENGINEER
                    div.link-buttons.oval: a(href=pathController +'/' + lang.personal.url + '/robert').link.reverse.v2 #{lang.aboutread}
            li.col-md-4
                    div.img: img(src="/assets/images/Profile-Pic.jpg")
                    h1.name: span MARTIN BENTLEY
                    h2.title: span SOFTWARE ENGINEER
                    div.link-buttons.oval: a(href=pathController +'/' + lang.personal.url + '/smith').link.reverse.v2 #{lang.aboutread}
            li.col-md-4
                    div.img: img(src="/assets/images/Profile-Pic.jpg")
                    h1.name: span MARTIN BENTLEY
                    h2.title: span SOFTWARE ENGINEER
                    div.link-buttons.oval: a(href=pathController +'/' + lang.personal.url + '/johnson').link.reverse.v2 #{lang.aboutread}
            li.col-md-4
                    div.img: img(src="/assets/images/Profile-Pic.jpg")
                    h1.name: span MARTIN BENTLEY
                    h2.title: span SOFTWARE ENGINEER
                    div.link-buttons.oval: a(href=pathController +'/' + lang.personal.url + '/antony').link.reverse.v2 #{lang.aboutread}